player-connection-mode=Listen
player-connection-guid=3774890744
player-connection-debug=0
player-connection-project-name=dominion
player-connection-ip=122.41.108.116
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0aec1800786644a9a58a2bbde5fb7477
